services:
  bot:
    image: evgen1771/autoparts-bot:latest
    container_name: autoparts_bot
    restart: unless-stopped
    env_file: .env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:13-alpine  # Alpine версия для экономии места
    container_name: autoparts_db
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
